.section {
  padding-top: 80px;
  overflow: hidden;

  &__desc {
    margin-top: 1rem;
    font-size: 12px;
    line-height: 1.8;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section {
    h5 {
      font-size: 1rem;
    }

    h3, h5{
      text-align: center;
    }

    &__desc {
      text-align: justify;
    }
  }
}
